<div class="top">
    <h1>Angular2 Lorem Ipsum Generator</h1>
    <a href="https://github.com/lukasz-galka/ngx-lorem-ipsum" target="_blank">https://github.com/lukasz-galka/ngx-lorem-ipsum</a>
</div>

<div class="line">
    <div class="settings">
        count: <input [(ngModel)]="count">
        paragraphsCount: <input [(ngModel)]="paragraphsCount">
    </div>
    <ngx-lorem-ipsum [count]="count" [paragraphsCount]="paragraphsCount"></ngx-lorem-ipsum>
</div>

<div class="line">
    <div class="settings">
        min: <input [(ngModel)]="randomMin">
        max: <input [(ngModel)]="randomMax">
        paragraphsCount: <input [(ngModel)]="randomParagraphsCount">
    </div>
    <ngx-lorem-ipsum [min]="randomMin" [max]="randomMax" [paragraphsCount]="randomParagraphsCount"></ngx-lorem-ipsum>
</div>

<div class="links">
    <a href="https://github.com/lukasz-galka" target="_blank">
        <svg class="icon">
            <use xlink:href="#si-dev-github_badge" />
        </svg>
    </a>

    <a href="https://www.npmjs.com/~lukasz-galka" target="_blank">
        <svg class="icon icon-npm">
            <use xlink:href="#si-dev-npm" />
        </svg>
    </a>

    <a href="http://blog.lukasz-galka.pl" target="_blank">
        <svg class="icon">
            <use xlink:href="#si-dev-wordpress" />
        </svg>
    </a>

    <a href="https://www.linkedin.com/in/%C5%82ukasz-ga%C5%82ka-6187a2132/" target="_blank">
        <svg class="icon">
            <use xlink:href="#si-zocial-linkedin" />
        </svg>
    </a>

    <a href="mailto:lukasz-galka@hotmail.com">
        <svg class="icon">
            <use xlink:href="#si-zocial-email" />
        </svg>
    </a>

    <a href="https://www.intive.com" target="_blank">
        <svg class="icon icon-intive">
            <use xlink:href="#intive" />
        </svg>
    </a>

    <a href="https://www.instagram.com/smilingsamoyedsammy/" target="_blank">
        <svg class="icon">
            <use xlink:href="#si-awesome-paw" />
        </svg>
    </a>
</div>